@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(menustyle.css);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

.menu-de-navegacion {
  background-color: var(--negro);
  background-image: url(https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  padding: 15px;

}

.menu-de-navegacioncontenedor {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menu-de-navegacionlogo {
  margin-right: 20px;
}

.menu-de-navegacionlogo-imagen {
  height: 50px; 
}

.menu-de-navegacionenlaces {
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.menu-de-navegacionenlace-item {
  display: flex;
  align-items: center;
}

.menu-de-navegacionenlace {
  color: var(--color-texto);
  text-decoration: none;
  font-size: var(--tamano-fuente-pequeno);
}

.menu-de-navegacionenlace:hover {
  color: var(--color-hover);
}

.menu-de-navegacionicono-busqueda {
  margin-left: auto;
}

.menu-de-navegacion__icono-busqueda-imagen {
  height: var(--altura-icono); 
}